body {
    background-size: cover;
}

.city-name {
    font-size: 20px;
    font-weight: bold;
}

.weather-icon {
    flex-basis: 3%;
}

.weather-degree {
    font-size: 20px;
    font-weight: bold;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-center-text {
    font-size: 23vh;
    text-align: center;
    position: absolute;
    top: 50%; /* moved down by 50% of the screen height */
    transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    width: 100%; /* needs to be defined to keep the default block behavior */
    margin: 0; /* again, for perfect center */
}